/* ==================== INCLUDE FONTS ======================= */
// @import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Karla|Rubik:500');

html {
    font-size: 15px;
}

.services-list {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

.badge {
    background-color: #6394F8;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.shopping-cart {
    float: right;
    background: white;
    width: 320px;
    position: relative;
    border-radius: 3px;
    padding: 20px;
    z-index: 999;
    height: 100%;
}

.shopping-cart .shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
}

.shopping-cart .shopping-cart-header .shopping-cart-total {
    float: right;
}

.shopping-cart .shopping-cart-items {
    padding-top: 20px;
}

.shopping-cart .shopping-cart-items li {
    margin-bottom: 18px;
}

.shopping-cart .shopping-cart-items img {
    float: left;
    margin-right: 12px;
}

.shopping-cart .shopping-cart-items .item-name {
    display: block;
    padding-top: 10px;
    font-size: 16px;
}

.shopping-cart .shopping-cart-items .item-price {
    color: #6394F8;
    margin-right: 8px;
}

.shopping-cart .shopping-cart-items .item-quantity {
    color: #ABB0BE;
}

.shopping-cart:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
}

.cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
}

.button {
    background: #6394F8;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
}

.button:hover {
    background: #729ef9;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.padding-page-content {
    padding: 132px 0;
}

.theme-color {
    color: $myssm !important;
}

.theme-bg-color {
    background-color: $myssm !important;
}

.services-list li p {
    font-size: 1.5rem;
}

.services-list li:not(:nth-child(7)) {
    padding-bottom: 20px;
}

.services-list li p:before {
    background-image: url('../images/services/list-icon.svg');
    background-size: 20px 20px;
    display: inline-flex;
    width: 20px;
    height: 20px;
    content: "";
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #212529 !important;
    background-color: #ffc107 !important;
}

.ctc-checkbox {
    margin-right: 5px;
}


.rotate {
    -webkit-animation: rotation 5s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

@-webkit-keyframes shakers {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
	-webkit-animation-name: shakers;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

.noresult {
    margin: 0;
    line-height: 0;
}

.noresult:nth-child(2) {
    color: #67f3da;
    animation: glitch2 2.5s infinite;
}

.noresult:nth-child(3) {
    color: #f16f6f;
    animation: glitch3 2.5s infinite;
}

/*Keyframes*/

@keyframes glitch1 {
    0% {
        transform: none;
        opacity: 1;
    }

    7% {
        transform: skew(-0.5deg, -0.9deg);
        opacity: 0.75;
    }

    10% {
        transform: none;
        opacity: 1;
    }

    27% {
        transform: none;
        opacity: 1;
    }

    30% {
        transform: skew(0.8deg, -0.1deg);
        opacity: 0.75;
    }

    35% {
        transform: none;
        opacity: 1;
    }

    52% {
        transform: none;
        opacity: 1;
    }

    55% {
        transform: skew(-1deg, 0.2deg);
        opacity: 0.75;
    }

    50% {
        transform: none;
        opacity: 1;
    }

    72% {
        transform: none;
        opacity: 1;
    }

    75% {
        transform: skew(0.4deg, 1deg);
        opacity: 0.75;
    }

    80% {
        transform: none;
        opacity: 1;
    }

    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes glitch2 {
    0% {
        transform: none;
        opacity: 0.25;
    }

    7% {
        transform: translate(-2px, -3px);
        opacity: 0.5;
    }

    10% {
        transform: none;
        opacity: 0.25;
    }

    27% {
        transform: none;
        opacity: 0.25;
    }

    30% {
        transform: translate(-5px, -2px);
        opacity: 0.5;
    }

    35% {
        transform: none;
        opacity: 0.25;
    }

    52% {
        transform: none;
        opacity: 0.25;
    }

    55% {
        transform: translate(-5px, -1px);
        opacity: 0.5;
    }

    50% {
        transform: none;
        opacity: 0.25;
    }

    72% {
        transform: none;
        opacity: 0.25;
    }

    75% {
        transform: translate(-2px, -6px);
        opacity: 0.5;
    }

    80% {
        transform: none;
        opacity: 0.25;
    }

    100% {
        transform: none;
        opacity: 0.25;
    }
}

@keyframes glitch3 {
    0% {
        transform: none;
        opacity: 0.25;
    }

    7% {
        transform: translate(2px, 3px);
        opacity: 0.5;
    }

    10% {
        transform: none;
        opacity: 0.25;
    }

    27% {
        transform: none;
        opacity: 0.25;
    }

    30% {
        transform: translate(5px, 2px);
        opacity: 0.5;
    }

    35% {
        transform: none;
        opacity: 0.25;
    }

    52% {
        transform: none;
        opacity: 0.25;
    }

    55% {
        transform: translate(5px, 1px);
        opacity: 0.5;
    }

    50% {
        transform: none;
        opacity: 0.25;
    }

    72% {
        transform: none;
        opacity: 0.25;
    }

    75% {
        transform: translate(2px, 6px);
        opacity: 0.5;
    }

    80% {
        transform: none;
        opacity: 0.25;
    }

    100% {
        transform: none;
        opacity: 0.25;
    }
}

.active{
    color:$black !important;
}

/* Wrapper */
.icon-button {
    background-color: white;
    border-radius: 2.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3rem;
    height: 2.6rem;
    line-height: 2.6rem;
    margin: 0 20px 0 0;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

/* Circle */
.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}

.icon-button:hover span {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 2.6rem;
    margin: -1.3rem;
}

/* Icons */
.icon-button i {
    background: none;
    color: white;
    height: 2.6rem;
    left: 0;
    line-height: 2.6rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 2.6rem;
    z-index: 10;
}





.twitter span {
    background-color: #4099ff;
}

.facebook span {
    background-color: #3B5998;
}

.google-plus span {
    background-color: #db5a3c;
}

.tumblr span {
    background-color: #34526f;
}

.instagram span {
    background-color: #517fa4;
}

.youtube span {
    background-color: #bb0000;
}

.pinterest span {
    background-color: #cb2027;
}



.icon-button .icon-twitter {
    color: #4099ff;
}

.icon-button .icon-facebook {
    color: #3B5998;
}

.icon-button .fa-tumblr {
    color: #34526f;
}

.icon-button .icon-google-plus {
    color: #db5a3c;
}

.icon-button .fa-instagram {
    color: #517fa4;
}

.icon-button .fa-youtube {
    color: #bb0000;
}

.icon-button .fa-pinterest {
    color: #cb2027;
}




.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus,
.icon-button:hover .fa-tumblr,
.icon-button:hover .fa-instagram,
.icon-button:hover .fa-youtube,
.icon-button:hover .fa-pinterest {
    color: white;
}

@media all and (max-width: 680px) {
    .icon-button {
        border-radius: 1.6rem;
        font-size: 0.8rem;
        height: 1.6rem;
        line-height: 1.6rem;
        width: 1.6rem;
    }

    .icon-button:hover span {
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 1.6rem;
        margin: -0.8rem;
    }

    /* Icons */
    .icon-button i {
        height: 1.6rem;
        line-height: 1.6rem;
        width: 1.6rem;
    }

    body {

        padding: 10px;
    }

    .pinterest {
        display: none;
    }

}
